.hang {
    width: 200px;
    height: 350px;
}

.hang1 {
    background-image: url(/img/hang1.png);
}

.hang2 {
    background-image: url(/img/hang2.png);
}

.hang3 {
    background-image: url(/img/hang3.png);
}

.hang4 {
    background-image: url(/img/hang4.png);
}

.hang5 {
    background-image: url(/img/hang5.png);
}

.hang6 {
    background-image: url(/img/hang6.png);
}

.hang7 {
    background-image: url(/img/hang7.png);
}

.hang8 {
    background-image: url(/img/hang8.png);
}

.hang9 {
    background-image: url(/img/hang9.png);
}

.hang10 {
    background-image: url(/img/hang10.png);
}

.hang11 {
    background-image: url(/img/hang11.png);
}